<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Video Game Database</title>
</head>
<body>
    <h1>Video Game Database</h1>
    <ul>
        <% games.forEach(function(game) { %> 
            <li>
                <a href="/games/<%= game._id %>"> <%= game.title %> </a>
            </li>
        <% }) %>
    </ul>
    <button><a href="/games">Browse Games</a></button>
    <button><a href="/games/new">Add Games</a></button>
    <button><a href="/games/">Back to Index</a></button>
</body>
</html>
